*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'poppins', sans-serif;
	cursor: pointer;
}
body{
	height: 100vh;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	background: linear-gradient(to right, #20b2aa,#9370db);
}
form{
	width: 25rem;
	height: 25rem;
	display: flex;
	flex-direction: column;
	background: rgba(255,255,255,0.1);
	box-shadow: 0 8px 32px 0 rgba(31,38,135,.37);
	border-radius: 32px;
	border-left:1px solid rgba(255,255,255,.37);
	border-top: 1px solid rgba(255,255,255,.37);
}
h1{
	font-size: 50px;
	text-align: center;
	color: white;
	letter-spacing: 3px;
	margin-bottom: 5%;
	opacity: .8; 
}
label{
	font-size: 20px;
	color: white;
    margin-left: 10%;
    opacity: .9;
}
input{
	width: 80%;
	margin: 5% auto;
	margin-bottom: 8%;
	border: none;
	outline: none;
	background: transparent;
	border-bottom: 1px solid rgba(255,255,255,.37)
}
a{
	text-align: center;
	color: white;
	opacity: .7;
}
button{
	width: 50%;
	margin: 5% auto;
	color: gray;
	font-style: 15%;
	opacity: .7;
	background: rgba(255,255,255,.7);
	padding: 10px 30px;
	border: none;
	outline: none;
	border-radius: 20px;
	box-shadow: 0 8px 32px 0 rgba(31,38,135,.7);
}