*{
	box-sizing: border-box;
}
body{
	background-color: #8fbc8f;
	font-family: sans-serif;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
	margin: 0;
}
.container{
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 10px 20px 25px rgba(0,0,0,.3);
	overflow: hidden;
	max-width: 100%;
	width: 400px;
}
.header{
	border-bottom: 1px solid #f0f0f0;
	background-color: #f7f7f7;
	padding: 20px 40px;
}
.header h2{
	margin: 0;
	text-align: center;
}
.form{
	padding: 30px 40px;
}
.form-controll{
	margin-bottom: 10px;
	padding-bottom: 20px;
	position: relative;
}
.form-controll label{
	display: inline-block;
	margin-bottom: 5px;
}
.form-controll input{
	border:2px solid #f0f0f0;
	border-radius: 4px;
	display: block;
	font-size: 14px;
	padding: 10px;
	width: 100%;
}
.form-controll input:focus{
	outline: none;
	border-color: #777;
}
.form-controll .success .input{
	border-color: #2ecc71;
}
.form-controll .error .input{
	border-color: red;
}
.form-controll i{
	visibility: hidden;
	position: absolute;
	top: 40px;
	right: 10px;
}
.form-controll .success i.fa-circle-check{
	color: #2ecc71;
	visibility: visible;
}
.form-controll .error i.fa-exclamation{
	color: red;
	visibility: visible;
}
.form-controll small{
	color: red;
	position: absolute;
	left: 0;
	bottom: 0;
	visibility: hidden;
}
.form-controll .error small{
	visibility: visible;
}
.form button{
	background-color: #708090;
	border:none;
	color: #fff;
	display: block;
	font-size: 16px;
	width: 100%;
	margin-top: 20px;
	padding: 10px;
	border-radius: 4px;
}