<!DOCTYPE html>
<html>
<head>
	<title>Create account</title>
	<link rel="stylesheet" type="text/css" href="../static/create.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css" integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
	<div class="container">
		<div class="header">
			<h2>Create Account</h2>
		</div>
		<form class="form" id="form">
			<div class="form-controll">
				<label>Username</label>
				<input type="text" placeholder="Enter your name" id="Username">
				<i class="fa-solid fa-circle-check"></i>
				<i class="fa-solid fa-exclamation"></i>
			</div>
			<div class="form-controll">
				<label>Gmail</label>
				<input type="email" placeholder="Enter your mail id" id="Email">
				<i class="fa-solid fa-circle-check"></i>
				<i class="fa-solid fa-exclamation"></i>
				<small>Incorrect mail id</small>
			</div>
			<div class="form-controll">
				<label>Register number</label>
				<input type="text" placeholder="Enter your reg no" id="Regno">
				<i class="fa-solid fa-circle-check"></i>
				<i class="fa-solid fa-exclamation"></i>
				<small>Incorrect register number</small>
			</div>
			<div class="form-controll">
				<label>Password</label>
				<input type="password" placeholder="password" id="Password">
				<i class="fa-solid fa-circle-check"></i>
				<i class="fa-solid fa-exclamation"></i>
				<small>Incorrect password</small>
			</div>
			<div class="form-controll">
				<label>Conform password</label>
				<input type="password" placeholder="conform password" id="Cpassword">
				<i class="fa-solid fa-circle-check"></i>
				<i class="fa-solid fa-exclamation"></i>
				<small>Incorrect password</small>
			</div>
			<button>Submit</button>
		</form>
	</div>
	
</body>
</html>